/**
 * Sol y Mar
 * Nom de l'étudiant : Alexander Rayner-Barcelli
 * Date : 30 janvier 2026

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
* {
    margin: 0;
    padding: 100;
    box-sizing: border-box;
}

body {
     font-family: "Ancizar Sans", sans-serif;  /* Changez pour votre choix de police de caractères de Google Fonts*/
    font-size: 1rem;
    line-height: 1.6;
    color: #333; /* Ajutez avec votre couleur de texte principale */
    background-color: #f9f9f9; /* Ajutez avec votre couleur de fond principale */
  
}

.test1 {
    display: flex;       
    justify-content: space-between;
    align-items: baseline;       
    width: 100%;
            
}

.test1 h3, 
.test1 p {
    margin: 0;          
}

.prix1{
  display: block;
  text-align: right;
}
